body {
    margin: 0;
    padding: 0;
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2; 
}

header {
    text-align: center;
    background-color: #0055af; 
    color: #fff; 
    padding: 20px 0;
}

section {
    margin: 50px auto; 
    width: 300px; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 7px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
button {
    margin-bottom: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2267b1; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="number"] {
    width:20%;
}

input[type="text"] {
    width: calc(50% - 5px);
}

button:hover {
    background-color: #002d5e;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

select[name="lista"] {
    width: calc(50% - 5px); 
}

#txtSimetrico {
    margin-top: 20px;
}


#btnBorrar {
    background-color: #dc3545; 
}

#btnBorrar:hover {
    background-color: #a71e2c; 
}
