*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    min-height: 80px;
    background: linear-gradient(90deg, rgb(35, 132, 40)0%, 
    rgb(14, 86, 14)70%
    );
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #DEDEDE;
    display: block;
    font-weight: bold;

}

.menu.navbar ul li a:hover {
    color: #fff;
    
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    
}

.menu label {
    cursor: pointer;
    display: none;

}

h1 {
    margin: 80px 0 0 350px;
}

@media (max-width: 991px){

.content {
        min-height: 70px;
    }

.menu {
        top: 0;
        padding: 50px;
    }

.menu label {
        display: initially;
    }

.menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgb(29, 74, 104)0%, 
    rgb(73, 157, 206)70%);
    display: none;
    }

.menu .navbar .ul li{
        width: 100%;
    }
#menu:checked  ~ .navbar {
        display: initial;

    }
}